footer {
    position: fixed;
    bottom: 0;
    background-color: @color-gray;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;

    .column.navigation {
        padding-top: 0.5rem;
    }

    span.copyright {
        font-size: 1.1rem;
    }

    img {
        vertical-align: middle;
    }

    .align-right {
        text-align: right;
    }
}