.homepage-logo {
    width: 75%;
    vertical-align: middle;
}

.homepage-column-left {
    background-color: @color-primary;
    text-align: center;
}

.vertical-align-helper {
    display: inline-block;
    height: 50%;
    vertical-align: middle;
}

.homepage-login-link {
    width: 70%;
    margin: 0;
    float: left;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.homepage-language-link {
    width: 15%;
    padding-left: 33px;
    background-color: @color-darkgray;
    border-color: @color-darkgray;
    margin: 0;
    float: left;
    font-size: 1.5rem;
}

.homepage-column-content .zone-content {
    padding: 60px;
}

.container .row .homepage-column-top {
    padding: 0;
}



@media (max-width: 640px) {
    .homepage-login-link {
        width: 50%;
    }

    .homepage-language-link {
        width: 25%;
    }

    .homepage-logo {
        width: 25%;
        margin-top: 5px;
    }
}