.objectrequestanswer {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 0;
}

.objectrequestanswer:hover {
    color: @color-initial;
}

.objectrequestanswer-yes {
    background-color: @color-primary;
}

.objectrequestanswer-yes:hover {
    background-color: lighten(@color-primary, 5%);
}

.objectrequestanswer-notnow {
    background-color: @color-darkgray;
}

.objectrequestanswer-notnow:hover {
    background-color: lighten(@color-darkgray, 10%);
}

.objectrequestanswer-no {
    background-color: @color-quinary;
}

.objectrequestanswer-no:hover {
    background-color: lighten(@color-quinary, 20%);
}