.objectrequestanswer {
    color: #fff;
    text-decoration: none;
    padding: 10px; 
    border-radius: 5px;
}

.objectrequestanswer:hover {
    color: @color-initial;
}

@color-request-yes: #46d100;
@color-request-notnow: #a0a0a0;
@color-request-no: #df0000;

.objectrequestanswer-yes {
    background-color: @color-request-yes;
    border-right: 1px solid darken(@color-request-yes, 20%); 
    border-bottom: 1px solid darken(@color-request-yes, 20%);
}

.objectrequestanswer-yes:hover {
    background-color: lighten(@color-request-yes, 5%)
}

.objectrequestanswer-notnow {
    background-color: @color-request-notnow;
    border-right: 1px solid darken(@color-request-notnow, 20%); 
    border-bottom: 1px solid darken(@color-request-notnow, 20%);
}

.objectrequestanswer-notnow:hover {
    background-color: lighten(@color-request-notnow, 10%)
}

.objectrequestanswer-no {
    background-color: @color-request-no;
    border-right: 1px solid darken(@color-request-no, 20%); 
    border-bottom: 1px solid darken(@color-request-no, 20%); 
}

.objectrequestanswer-no:hover {
    background-color: lighten(@color-request-no, 20%)
}