@model WijDelen.ObjectSharing.ViewModels.CreateArchetypeViewModel

@{
    Layout.Title = T("New archetype").ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Archetypes", new { Area = "WijDelen.ObjectSharing" }), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<fieldset>
    <legend>@T("Name")</legend>
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
</fieldset>

<button class="primaryAction">@T("Submit")</button>
}