@{
    Layout.Title = T("Archetypes").ToString();
}

@Html.ActionLink(T("Create archetype"), "Create", "Admin", new {area="Contents", id="Archetype"}, new {@class="button primary-action"})

<ul>
    @foreach (var item in Model)
    {
        <li>@item.TitlePart.Title</li>
    }
</ul>