@model IEnumerable<WijDelen.ObjectSharing.Models.ArchetypeRecord>

@{
    Layout.Title = T("Archetypes").ToString();
}

@Html.ActionLink(T("Create archetype"), "Create", "Archetypes", new {}, new {@class="button primary-action"})

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>