@model IEnumerable<WijDelen.ObjectSharing.Models.UnarchetypedSynonymRecord>

@{
    Layout.Title = T("Synonyms without archetype").ToString();
}

<table>
    <thead>
    <tr>
        <th>@T("Synonym")</th>
        <th>@T("Archetype")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Synonym</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>