@using WijDelen.ObjectSharing.ViewModels
@model IEnumerable<WijDelen.ObjectSharing.Models.ObjectRequestMailRecord>

@{
    Layout.Title = T("Received Requests");
}

<h1>@T("Received Requests")</h1>

@if (Model.Any()) {
    <ul class="objectrequestlist">
        @foreach (var objectRequestMailRecord in Model) {
            <li class="objectrequestlist-item">
                @Html.ActionLink(objectRequestRecord.Description,
                    "Item",
                    new {controller = "ObjectRequest", area = "WijDelen.ObjectSharing", id = objectRequestRecord.AggregateId},
                    new {@class = "objectrequestlist-link"})
            </li>
        }
    </ul>
}
else {
    <p>
        @T("You haven't made any requests yet yourself. Fill in the form below and get started!")
    </p>

    {
        Html.RenderPartial("NewObjectRequest", new NewObjectRequestViewModel());
    }
}