@using Orchard.ContentManagement
@using WijDelen.ObjectSharing.ViewModels
@using WijDelen.UserImport.Models

@{
    Layout.Title = T("Let's get started").ToString();
}

<p>
    @T("Welcome {0}!", WorkContext.CurrentUser.ContentItem.As<UserDetailsPart>().FirstName)
</p>
<p>
    @T("Let's start by asking the members of your group if they can lend you something. FIll out the form below and we'll do the rest!", WorkContext.CurrentUser.ContentItem.As<UserDetailsPart>().FirstName)
</p>

@{
    Html.RenderPartial("NewObjectRequest", new NewObjectRequestViewModel());
}