@model WijDelen.UserImport.Models.AdminIndexViewModel

@{
    Layout.Title = T("Import Users").ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", "Admin", new {Area = "WijDelen.UserImport"}), FormMethod.Post, new {enctype = "multipart/form-data"})) {
    <fieldset>
        <legend>@T("User File")</legend>
        <span class="hint">@T("Please use a CSV file with two columns: username and email")</span>
        <input type="file" name="UsersFile"/>
    </fieldset>

    <button class="primaryAction">@T("Submit")</button>
}