@model WijDelen.UserImport.Models.AdminIndexViewModel

@{
    Layout.Title = T("Import Users").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()

    <div>Under construction</div>
}