@{
    Layout.Title = T("Set Password").ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("SetPassword", "Account", new {Area = "WijDelen.UserImport"}), FormMethod.Post, new {enctype = "multipart/form-data"})) {
    <fieldset>
        <legend>@T("Password")</legend>
        @Html.Password("newPassword") 
    </fieldset>

    <button class="primaryAction">@T("Submit")</button>
}