@{
    Layout.Title = T("Set Password").ToString();
}

@using (Html.BeginFormAntiForgeryPost()) {
    <fieldset>
        <legend>@T("Password")</legend>
        @Html.Password("password") 
    </fieldset>

    <button class="primaryAction">@T("Submit")</button>
}