@model IEnumerable<Webstation.Module.UserImport.Models.UserCreationResult>

<h1>@Html.TitleForPage(T("Import Results"))</h1>

@foreach (var result in Model)
{ 
    <div>
        <b>@result.Input.UserName</b>

        @foreach(var message in result.Messages)
        {
            <div class="message message-@message.Type">
                @message.Message
            </div>
        }
    </div>
}