.userimport-results {
    list-style-type: disc;
    list-style-position: inside;
}

.userimport-results-messages {
    margin-left: 30px;
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 15px;
}