@model IEnumerable<WijDelen.ObjectSharing.ViewModels.GroupObjectRequestViewModel>

@if (Model.Any()) {
    <h4>@T("Need inspiration?")</h4>
    <p>@T("These are some of the requests that have been made in your group:")</p>

    foreach (var objectRequest in Model) {
         <div class="groupobjectrequest">
             @{
                 var user = objectRequest.UserName;
                 if (!string.IsNullOrEmpty(objectRequest.FirstName)) {
                     user = string.Format("{0} {1}", objectRequest.FirstName, objectRequest.LastName);
                 }
             }

             <div class="groupobjectrequest-text">
                 @T("{0} requested (a) {1}", user, objectRequest.Description)
             </div>
         </div>
     }
}