@import '../node_modules/milligram-less/dist/_Color.less';
@import '../node_modules/milligram-less/dist/_Grid.less';
@import '../node_modules/milligram-less/dist/_Table.less';

@gray: #e1e1e1;

div.reports-summarytotals {
}

div.reports-summarytotal {
    border-right: 1px solid @gray;
    padding-left: 20px;
}

div.reports-summarytotal-last {
    border-right: 0;
}

table.reports-numbers thead tr th { 
    font-weight: bold;
}

table.reports-numbers tr td, table.reports-numbers tr th {
    border-bottom: 1px solid @gray;
    padding: 10px;
}

table.reports-numbers tr td.reports-numbersitem {
    font-weight: bold;
}

table.reports-groupmonth thead tr th {
    font-weight: bold;
}

table.reports-groupmonth tbody tr td.reports-groupmonthname {
    width: 20%;
}

table.reports-groupmonth div.reports-groupmonthvalue {
    background-color: @gray;
    height: 20px;
}

label.reportsdetails-startdatelabel, label.reportsdetails-stopdatelabel {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

label.reportsdetails-startdatelabel-first {
    margin-left: 0;
}