@using WijDelen.ObjectSharing.Domain.ValueTypes
@using WijDelen.ObjectSharing.ViewModels
@model IEnumerable<IndexObjectRequestViewModel>

@{
    Layout.Title = T("My Requests");
    Script.Include("https://use.fontawesome.com/9b21350ae6.js");
}

@if (Model.Any()) {
    <ul class="objectrequestlist">
        @foreach (var objectRequest in Model) {
            <li class="objectrequestlist-item">
                <a href="@Url.Action("Item", new {controller = "ObjectRequest", area = "WijDelen.ObjectSharing", id = objectRequest.AggregateId})"
                   class="objectrequestlist-link @if (objectRequest.Status != ObjectRequestStatus.None.ToString()) {<text>objectrequestlist-link-blocked</text>}"

                   @if (objectRequest.Status != ObjectRequestStatus.None.ToString()) {
                       <text>title="@T("ObjectRequestStatus." + objectRequest.Status, objectRequest.BlockReason)"</text>
                   }>
                    
                    @if (objectRequest.Status == ObjectRequestStatus.BlockedForForbiddenWords.ToString() || objectRequest.Status == ObjectRequestStatus.BlockedByAdmin.ToString()) {
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    }

                    @objectRequest.Description
                </a>
            </li>
        }
    </ul>
}
else {
    <p>
        @T("You haven't made any requests yet. Fill in the form below and get started!")
    </p>

    {
        Html.RenderPartial("NewObjectRequest", new NewObjectRequestViewModel());
    }
}