@model WijDelen.ObjectSharing.Models.ObjectRequestRecord

@{
    Layout.Title = Model.Description;
}

<h1>@Model.Description</h1>

@Model.ExtraInfo

<p>
    Dit is een item die je hebt aangevraagd. Hier komt later een overzicht van antwoorden van mensen binnen je groep, enz.
</p>