@model IEnumerable<WijDelen.ObjectSharing.Models.ObjectRequestRecord>

@{
    Layout.Title = T("My Requests");
}

<h1>@T("My Requests")</h1>

<ul class="objectrequestlist">
    @if (Model.Any()) {
        foreach (var objectRequestRecord in Model) {
             <li class="objectrequestlist-item">
                 @Html.ActionLink(objectRequestRecord.Description,
                     "Item",
                     new {controller = "ObjectRequest", area = "WijDelen.ObjectSharing", id = objectRequestRecord.AggregateId},
                     new {@class = "objectrequestlist-link"})
             </li>
         }
    }
    else {
        @T("You haven't made any requests yet.")
    }

</ul>