@model WijDelen.ObjectSharing.ViewModels.NewObjectRequestViewModel

@{
    Layout.Title = T("Request object").ToString();
}

<h1>@T("Request object")</h1>

@{
    Html.RenderPartial("NewObjectRequest", Model);
}